/*
    Created by Kenny Nguyen, Keon Hee Park, and Rashidat Akande
    createAcc.css
	Course: CSC 4370 - Web Programming
	Instructor: Louis Henry
	Date: December 12, 2016
*/

body {
    text-align: center;
}

.create {
    text-align: left;
}
